* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body 
{
color: #eded;
}
header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px ;
   background: transparent;
   display: flex;
   justify-content:space-between ;
   align-items: center;
   z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px ;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
.navbar a {
    display: inline-block;
    font-size: 25px ;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s; 
}
.navbar a:hover {
     color:aqua;
}
.Home {
  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url("bg.img");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}